{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">

    <title>Tour Packages</title>
    <link rel="stylesheet" href="{% static 'css/packagelist.css' %}?v=2">
    <script src="{%  static 'javascript/packagelist.js' %}"> </script>
    
</head>
<body>

    <h2>Draft Packages</h2>
   {% for package in draft_packages %}
  <div class="package-card">

    
        <h3>{{ package.title }}</h3>
        <p>{{ package.description }}</p>
        
        <div class="details">
            <strong> Location:</strong> {{ package.location }}<br>
            <strong> Available From:</strong> {{ package.available_from }}<br>
            <strong> Available To:</strong> {{ package.available_to }}<br>
            <strong>Price:</strong> ₹{{ package.price }} per person<br>
            <strong>Status:</strong> {{ package.status }}<br>
        </div>
       
        <button class="btn" onclick="openModal('{{ package.image.url }}')">View Image</button>
        {% if package.status.status == "draft" %}
        <form action="{% url 'submit_draft' package.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-success btn-sm" onclick="return confirm('Submit this draft for approval?');">Submit for Approval</button>
        </form>
         {% endif %}

         <a href="{% url 'epack' package.id %}" class="btn btn-primary btn-sm">Edit</a>
         <a href="{% url 'delete_package' package.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this package?')">Delete</a>

    </div>

    <div id="imageModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <img id="modalImage" src="" alt="Tour Image" style="width: 70%; border-radius: 8px;">
        </div>
    </div>

   {% empty %}
  <p>No draft packages</p>
  {% endfor %}
     
    <h2>Submitted Packages</h2>

    {% for package in submitted_packages %}
    <div class="package-card">
        

        
        <h3>{{ package.title }}</h3>
        <p>{{ package.description }}</p>
        
        <div class="details">
            <strong> Location:</strong> {{ package.location }}<br>
            <strong>Available From:</strong> {{ package.available_from }}<br>
            <strong>Available To:</strong> {{ package.available_to }}<br>
            <strong>Price:</strong> ₹{{ package.price }} per person<br>
            <strong>Status:</strong> {{ package.status }}<br>
        </div>
       
        <button class="btn" onclick="openModal('{{ package.image.url }}')">View Image</button>
        <a href="{% url 'epack' package.id %}" class="btn btn-primary btn-sm">Edit</a>
        <a href="{% url 'delete_package' package.id %}" class="btn btn-danger btn-sm"   onclick="return confirm('Are you sure you want to delete this package?')">Delete</a>
    </div>

    <div id="imageModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <img id="modalImage" src="" alt="Tour Image" style="width: 70%; border-radius: 8px;">
        </div>
    </div>


        {% empty %}
       <p>No submitted packages</p>
     {% endfor %}
    
     

     <h2>Approved Packages</h2>
     {% for package in approved_packages %}
       <div class="package-card">
        
            <h3>{{ package.title }}</h3>
         <p>{{ package.description }}</p>
         <div class="details">
            <strong> Location:</strong> {{ package.location }}<br>
            <strong> Available From:</strong> {{ package.available_from }}<br>
            <strong> Available To:</strong> {{ package.available_to }}<br>
            <strong>Price:</strong> ₹{{ package.price }} per person<br>
            <strong>Status:</strong> {{ package.status }}<br>
         </div>
         </ul></li>
         <button class="btn" onclick="openModal('{{ package.image.url }}')">View Image</button>
         <a href="{% url 'epack' package.id %}"  class="btn btn-primary btn-sm">Edit</a>
        <a href="{% url 'delete_package' package.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this package?')">Delete</a>
       </div>

       <div id="imageModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <img id="modalImage" src="" alt="Tour Image" style="width: 70%;  border-radius: 8px;">
        </div>
    </div>

     {% empty %}
       <p>No approved packages</p>
     {% endfor %}

     
     <h2>Rejected Packages</h2>
     {% for package in rejected_packages %}
       <div class="package-card">
        
            <h3>{{ package.title }}</h3>
         <p>{{ package.description }}</p>
         <div class="details">
            <strong> Location:</strong> {{ package.location }}<br>
            <strong>Available From:</strong> {{ package.available_from }}<br>
            <strong>Available To:</strong> {{ package.available_to }}<br>
            <strong>Price:</strong> ₹{{ package.price }} per person<br>
            <strong>Status:</strong> {{ package.status }}<br>
            <a href="{% url 'edit_package' package.id %}"  class="btn btn-primary btn-sm">Edit & Resubmit</a>
            <a href="{% url 'delete_package' package.id %}" class="btn btn-primary btn-sm" onclick="return confirm('Are you sure you want to delete this package?')">Delete</a>

         </div>
        
         <button class="btn" onclick="openModal('{{ package.image.url }}')">View Image</button>
       </div>
        
       <div id="imageModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <img id="modalImage" src="" alt="Tour Image" style="width: 70%;   border-radius: 8px;">
        </div>
    </div>

     {% empty %}
       <p>No rejected packages</p>
     {% endfor %}

      <footer class="footer">
        <p>&copy; 2025 GOTRAVELS | Designed for seamless travel experiences</p>
    </footer>

</body>
</html>
